.card-container {
    width: 200px;
    height: 400px;
    background-color: #ffffff; /* White background */
    border: 1px solid #e0e0e0; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin: 20px;
    padding: 16px;
    text-align: left;
  }
  
  .card-header {
    color: #000000; /* Black text color */
    font-size: 26px;
    margin-top: 80px;
    /* margin-bottom: 12px; */
    height:200px;
    width:200px;
  }
  
  .card-content {
      font-size: 16px;
      height:100px;
      width:100px;
      margin-top: 30px;
    }
    h1{
    color: #000000; /* Black text color */
      font-size: 16px;

  }